In [15]:
import pandas as pd
import numpy as np
import wrangle_zillow
import acquire
import scipy.stats as stats

In [2]:
df = acquire.get_zillow_data()

In [3]:
df.shape

(77580, 69)

In [4]:
df['parcelid'].nunique()

77381

In [5]:
# Dropping duplicate parcelid's and storing in to a new dataframe
df1 = df.sort_values(by='transactiondate', ascending=True).drop_duplicates(subset='parcelid',keep='last')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77579
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   heatingorsystemtypeid         49440 non-null  float64
 3   buildingclasstypeid           15 non-null     float64
 4   architecturalstyletypeid      206 non-null    float64
 5   airconditioningtypeid         24953 non-null  float64
 6   propertylandusetypeid         77381 non-null  float64
 7   parcelid                      77381 non-null  int64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  id.1                          77381 non-null  int64
 60  logerror                      77381 non-null  float64
 61  transactiondate               77381 non-null  object
 62  propertylandusedesc           77381 non-null  object
 63  airconditioningdesc           24953 non-null  object
 64  architecturalstyledesc        206 non-null    object
 65  buildingclassdesc             15 non-null     object
 66  heatingorsystemdesc           49440 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 41.3+ MB

In [7]:
df1.shape

(77381, 69)

In [8]:
df1.nunique()

typeconstructiontypeid       4
storytypeid                  1
heatingorsystemtypeid       10
buildingclasstypeid          2
architecturalstyletypeid     5
                            ..
architecturalstyledesc       5
buildingclassdesc            2
heatingorsystemdesc         10
storydesc                    1
typeconstructiondesc         4
Length: 69, dtype: int64

In [9]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing

In [10]:
nulls_by_col(df1)

                          num_rows_missing  percent_rows_missing
typeconstructiontypeid               77159             99.713108
storytypeid                          77331             99.935385
heatingorsystemtypeid                27941             36.108347
buildingclasstypeid                  77366             99.980615
architecturalstyletypeid             77175             99.733785
...                                    ...                   ...
architecturalstyledesc               77175             99.733785
buildingclassdesc                    77366             99.980615
heatingorsystemdesc                  27941             36.108347
storydesc                            77331             99.935385
typeconstructiondesc                 77159             99.713108

[69 rows x 2 columns]

In [11]:
nulls_by_row(df1)

   num_cols_missing percent_cols_missing  num_rows
0                23    33.33333333333333         2
1                24    34.78260869565217        13
2                25   36.231884057971016        24
3                26    37.68115942028986        65
4                27   39.130434782608695       316
5                28    40.57971014492754       455
6                29   42.028985507246375      5270
7                30    43.47826086956522      3455
8                31   44.927536231884055      9891
9                32     46.3768115942029     12579
10               33    47.82608695652174     14782
11               34   49.275362318840585     13327
12               35    50.72463768115942      5148
13               36    52.17391304347826      5775
14               37    53.62318840579711      3620
15               38   55.072463768115945      1925
16               39    56.52173913043478       285
17               40   57.971014492753625       230
18               41    59.42028985507246        29
19               42    60.86956521739131        23
20               43    62.31884057971014        28
21               44    63.76811594202898        78
22               45    65.21739130434783        50
23               46    66.66666666666666         5
24               47    68.11594202898551         3
25               48    69.56521739130434         3

In [12]:
def summarize(df):
    '''
    This function will take in a single argument (pandas DF)
    and output to console various statistics on said DF, including:
    # .head()
    # .info()
    # .describe()
    # value_counts()
    # observe null values
    '''
    print('----------------------------------------------------')
    print('DataFrame Head')
    print(df.head(3))
    print('----------------------------------------------------')
    print('DataFrame Info')
    print(df.info())
    print('----------------------------------------------------')
    print('DataFrame Description')
    print(df.describe())
    num_cols = df.select_dtypes(exclude='O').columns.to_list()
    cat_cols = df.select_dtypes(include='O').columns.to_list()
    print('----------------------------------------------------')
    print('DataFrame Value Counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort=False))
    print('----------------------------------------------------')
    print('Nulls in DataFrame by Column: ')
    print(nulls_by_col(df))
    print('----------------------------------------------------')
    print('Nulls in DataFrame by Rows: ')
    print(nulls_by_row(df))
    print('----------------------------------------------------')

In [13]:
summarize(df1)

----------------------------------------------------
DataFrame Head
   typeconstructiontypeid  storytypeid  heatingorsystemtypeid  \
0                     NaN          NaN                    NaN
1                     NaN          NaN                    NaN
2                     NaN          NaN                    NaN

   buildingclasstypeid  architecturalstyletypeid  airconditioningtypeid  \
0                  NaN                       NaN                    NaN
1                  NaN                       NaN                    NaN
2                  NaN                       NaN                    NaN

   propertylandusetypeid  parcelid       id  basementsqft  ...  id.1  \
0                  261.0  14297519  1727539           NaN  ...     0
1                  261.0  17052889  1387261           NaN  ...     1
2                  261.0  14186244    11677           NaN  ...     2

   logerror  transactiondate        propertylandusedesc  airconditioningdesc  \
0  0.025595       2017-01-01  Single Family Residential                  NaN
1  0.055619       2017-01-01  Single Family Residential                  NaN
2  0.005383       2017-01-01  Single Family Residential                  NaN

   architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  storydesc  \
0                     NaN                NaN                  NaN        NaN
1                     NaN                NaN                  NaN        NaN
2                     NaN                NaN                  NaN        NaN

   typeconstructiondesc
0                   NaN
1                   NaN
2                   NaN

[3 rows x 69 columns]
----------------------------------------------------
DataFrame Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77579
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   heatingorsystemtypeid         49440 non-null  float64
 3   buildingclasstypeid           15 non-null     float64
 4   architecturalstyletypeid      206 non-null    float64
 5   airconditioningtypeid         24953 non-null  float64
 6   propertylandusetypeid         77381 non-null  float64
 7   parcelid                      77381 non-null  int64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  id.1                          77381 non-null  int64
 60  logerror                      77381 non-null  float64
 61  transactiondate               77381 non-null  object
 62  propertylandusedesc           77381 non-null  object
 63  airconditioningdesc           24953 non-null  object
 64  architecturalstyledesc        206 non-null    object
 65  buildingclassdesc             15 non-null     object
 66  heatingorsystemdesc           49440 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 41.3+ MB
None
----------------------------------------------------
DataFrame Description
       typeconstructiontypeid  storytypeid  heatingorsystemtypeid  \
count              222.000000         50.0           49440.000000
mean                 6.040541          7.0               3.920510
std                  0.557285          0.0               3.592779
min                  4.000000          7.0               1.000000
25%                  6.000000          7.0               2.000000
50%                  6.000000          7.0               2.000000
75%                  6.000000          7.0               7.000000
max                 13.000000          7.0              24.000000

       buildingclasstypeid  architecturalstyletypeid  airconditioningtypeid  \
count            15.000000                206.000000           24953.000000
mean              3.933333                  7.388350               1.813289
std               0.258199                  2.734542               2.967894
min               3.000000                  2.000000               1.000000
25%               4.000000                  7.000000               1.000000
50%               4.000000                  7.000000               1.000000
75%               4.000000                  7.000000               1.000000
max               4.000000                 21.000000              13.000000

       propertylandusetypeid      parcelid            id  basementsqft  ...  \
count           77381.000000  7.738100e+04  7.738100e+04     50.000000  ...
mean              261.826340  1.300715e+07  1.495139e+06    679.720000  ...
std                 5.141199  3.481346e+06  8.609071e+05    689.703546  ...
min                31.000000  1.071186e+07  3.490000e+02     38.000000  ...
25%               261.000000  1.153830e+07  7.520700e+05    273.000000  ...
50%               261.000000  1.253157e+07  1.497932e+06    515.000000  ...
75%               266.000000  1.421183e+07  2.240535e+06    796.500000  ...
max               275.000000  1.676893e+08  2.982274e+06   3560.000000  ...

       fireplaceflag  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
count          172.0                7.726900e+04       7.738000e+04
mean             1.0                1.893145e+05       4.901345e+05
std              0.0                2.300874e+05       6.534440e+05
min              1.0                4.400000e+01       1.000000e+03
25%              1.0                8.426500e+04       2.070000e+05
50%              1.0                1.364990e+05       3.589755e+05
75%              1.0                2.187870e+05       5.690015e+05
max              1.0                1.142179e+07       4.906124e+07

       assessmentyear  landtaxvaluedollarcnt      taxamount  \
count         77381.0           7.737900e+04   77376.000000
mean           2016.0           3.010954e+05    5995.532346
std               0.0           4.925960e+05    7622.844153
min            2016.0           1.610000e+02      19.920000
25%            2016.0           8.550400e+04    2715.632500
50%            2016.0           2.033720e+05    4450.695000
75%            2016.0           3.667965e+05    6927.790000
max            2016.0           4.895220e+07  586639.300000

       taxdelinquencyyear  censustractandblock          id.1      logerror
count         2886.000000         7.713700e+04  77381.000000  77381.000000
mean            14.087318         6.049673e+13  38848.692754      0.016625
std              2.185663         1.535242e+12  22402.429065      0.170191
min              3.000000         6.037101e+13      0.000000     -4.655420
25%             14.000000         6.037311e+13  19461.000000     -0.024377
50%             15.000000         6.037603e+13  38870.000000      0.006627
75%             15.000000         6.059042e+13  58253.000000      0.039203
max             99.000000         4.830301e+14  77613.000000      5.262999

[8 rows x 58 columns]
----------------------------------------------------
DataFrame Value Counts:
(3.99, 4.9]       1
(4.9, 5.8]        0
(5.8, 6.7]      219
(6.7, 7.6]        0
(7.6, 8.5]        0
(8.5, 9.4]        0
(9.4, 10.3]       1
(10.3, 11.2]      0
(11.2, 12.1]      0
(12.1, 13.0]      1
Name: typeconstructiontypeid, dtype: int64
(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      50
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
(0.976, 3.3]    33563
(3.3, 5.6]          0
(5.6, 7.9]      14841
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       59
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      846
Name: heatingorsystemtypeid, dtype: int64
(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
(0.987, 2.2]    23133
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1574
Name: airconditioningtypeid, dtype: int64
(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3271
(250.6, 275.0]    74095
Name: propertylandusetypeid, dtype: int64
(10554877.537, 26409601.2]    77350
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       29
Name: parcelid, dtype: int64
(-2632.9260000000004, 298541.5]    7739
(298541.5, 596734.0]               7682
(596734.0, 894926.5]               7585
(894926.5, 1193119.0]              7694
(1193119.0, 1491311.5]             7827
(1491311.5, 1789504.0]             7813
(1789504.0, 2087696.5]             7794
(2087696.5, 2385889.0]             7698
(2385889.0, 2684081.5]             7710
(2684081.5, 2982274.0]             7839
Name: id, dtype: int64
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
(-0.019, 1.8]    14909
(1.8, 3.6]       56436
(3.6, 5.4]        5073
(5.4, 7.2]         801
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
(-0.017, 1.6]     4209
(1.6, 3.2]       49531
(3.2, 4.8]       17513
(4.8, 6.4]        5541
(6.4, 8.0]         460
(8.0, 9.6]          70
(9.6, 11.2]         39
(11.2, 12.8]        14
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64

(0.988, 2.1]       35
(2.1, 3.2]        329
(3.2, 4.3]       9483
(4.3, 5.4]       2088
(5.4, 6.5]      13462
(6.5, 7.6]       5971
(7.6, 8.7]      14645
(8.7, 9.8]       2299
(9.8, 10.9]       313
(10.9, 12.0]     1047
Name: buildingqualitytypeid, dtype: int64
(0.982, 2.7]    52390
(2.7, 4.4]      21699
(4.4, 6.1]       2361
(6.1, 7.8]        176
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
(37.131, 730.8]      702
(730.8, 1417.6]     3025
(1417.6, 2104.4]    1733
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
(92.487, 3679.2]      73880
(3679.2, 7230.4]       3134
(7230.4, 10781.6]       148
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
(106.198, 2308.1]     59593
(2308.1, 4488.2]      12862
(4488.2, 6668.3]       1069
(6668.3, 8848.4]        161
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 5
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
(562.957, 4102.2]     2811
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64
(31.576, 1286.3]      3138
(1286.3, 2528.6]      2552
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
(6036.925, 6044.4]    50551
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20593
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6237
Name: fips, dtype: int64
(0.995, 1.4]    7008
(1.4, 1.8]         0
(1.8, 2.2]       995
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
(0.982, 2.7]    52407
(2.7, 4.4]      22399
(4.4, 6.1]       1699
(6.1, 7.8]        121
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
(-0.015, 1.4]     5906
(1.4, 2.8]       18608
(2.8, 4.2]         887
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
(-4.252000000000001, 425.1]    11937
(425.1, 850.2]                 13160
(850.2, 1275.3]                  323
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1538
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
(33338047.759000003, 33487451.0]     1045
(33487451.0, 33635375.0]             5318
(33635375.0, 33783299.0]            10047
(33783299.0, 33931223.0]            14789
(33931223.0, 34079147.0]            14222
(34079147.0, 34227071.0]            18893
(34227071.0, 34374995.0]             6261
(34374995.0, 34522919.0]             3146
(34522919.0, 34670843.0]             2321
(34670843.0, 34818767.0]             1339
Name: latitude, dtype: int64
(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       1997
(-119091260.0, -118899182.0]       1494
(-118899182.0, -118707104.0]       2660
(-118707104.0, -118515026.0]       5926
(-118515026.0, -118322948.0]      15424
(-118322948.0, -118130870.0]      15361
(-118130870.0, -117938792.0]      14219
(-117938792.0, -117746714.0]      12689
(-117746714.0, -117554636.0]       7390
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    68856
(697313.4, 1394390.8]               227
(1394390.8, 2091468.2]               40
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       16137
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64
(22.523, 171.6]       7
(171.6, 319.2]       47
(319.2, 466.8]      322
(466.8, 614.4]      306
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       464
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid10, dtype: int64
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1074
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: pooltypeid2, dtype: int64
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       15042
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: pooltypeid7, dtype: int64
0100    26714
122     13045
010C     8813
0101     6399
34       4922
        ...
020M        1
1432        1
0204        1
0131        1
012D        1
Name: propertycountylandusecode, Length: 75, dtype: int64
LAR1          6747
LAR3          2437
LARS          1389
LBR1N         1222
LARD1.5       1127
              ...
LCC3BE*          1
INP1VV           1
WNR110000*       1
RMPD             1
LVPR3D-A1-       1
Name: propertyzoningdesc, Length: 1907, dtype: int64
(60370272.019999996, 60444919.091]    50551
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          20593
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.052]              0
(60740551.052, 60814459.042]              0
(60814459.042, 60888367.032]              0
(60888367.032, 60962275.022]              0
(60962275.022, 61036183.012]              0
(61036183.012, 61110091.002]           6237
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    55659
(42797.5, 82104.0]               18118
(82104.0, 121410.5]               1053
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                24
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]              1056
Name: regionidcity, dtype: int64
(1284.184, 1467.5]    20593
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       6237
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      50551
Name: regionidcounty, dtype: int64
(6194.784, 82673.5]     11546
(82673.5, 158395.0]      4585
(158395.0, 234116.5]       43
(234116.5, 309838.0]    11551
(309838.0, 385559.5]       77
(385559.5, 461281.0]     1948
(461281.0, 537002.5]        0
(537002.5, 612724.0]        0
(612724.0, 688445.5]       66
(688445.5, 764167.0]     1074
Name: regionidneighborhood, dtype: int64
(95678.306, 126351.3]    77319
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64

(-0.016, 1.5]    59809
(1.5, 3.0]         226
(3.0, 4.5]        1415
(4.5, 6.0]        7529
(6.0, 7.5]        3838
(7.5, 9.0]        4065
(9.0, 10.5]        339
(10.5, 12.0]       143
(12.0, 13.5]        10
(13.5, 15.0]         7
Name: roomcnt, dtype: int64
(0.993, 1.6]    10012
(1.6, 2.2]         75
(2.2, 2.8]          0
(2.8, 3.4]          8
(3.4, 4.0]          0
(4.0, 4.6]          0
(4.6, 5.2]          0
(5.2, 5.8]          0
(5.8, 6.4]          0
(6.4, 7.0]          1
Name: threequarterbathnbr, dtype: int64
(0.763, 24.6]     50560
(24.6, 48.2]          2
(48.2, 71.8]          0
(71.8, 95.4]          0
(95.4, 119.0]         0
(119.0, 142.6]        0
(142.6, 166.2]        0
(166.2, 189.8]        0
(189.8, 213.4]        0
(213.4, 237.0]        1
Name: unitcnt, dtype: int64
(7.819, 329.0]      1635
(329.0, 647.0]       607
(647.0, 965.0]        95
(965.0, 1283.0]       34
(1283.0, 1601.0]       9
(1601.0, 1919.0]       1
(1919.0, 2237.0]       2
(2237.0, 2555.0]       2
(2555.0, 2873.0]       1
(2873.0, 3191.0]       2
Name: yardbuildingsqft17, dtype: int64
(11.143, 97.6]    24
(97.6, 183.2]     14
(183.2, 268.8]    10
(268.8, 354.4]     7
(354.4, 440.0]     4
(440.0, 525.6]     6
(525.6, 611.2]     2
(611.2, 696.8]     1
(696.8, 782.4]     1
(782.4, 868.0]     1
Name: yardbuildingsqft26, dtype: int64
(1823.807, 1843.2]        1
(1843.2, 1862.4]          0
(1862.4, 1881.6]          3
(1881.6, 1900.8]         90
(1900.8, 1920.0]       1743
(1920.0, 1939.2]       6688
(1939.2, 1958.4]      18463
(1958.4, 1977.6]      20355
(1977.6, 1996.8]      19097
(1996.8, 2016.0]      10678
Name: yearbuilt, dtype: int64
(0.994, 1.5]    10366
(1.5, 2.0]       6757
(2.0, 2.5]          0
(2.5, 3.0]        436
(3.0, 3.5]          0
(3.5, 4.0]          0
(4.0, 4.5]          0
(4.5, 5.0]          0
(5.0, 5.5]          0
(5.5, 6.0]          1
Name: numberofstories, dtype: int64
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       172
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: fireplaceflag, dtype: int64
(-11377.747, 1142218.6]     76665
(1142218.6, 2284393.2]        493
(2284393.2, 3426567.8]         73
(3426567.8, 4568742.4]         19
(4568742.4, 5710917.0]          9
(5710917.0, 6853091.6]          2
(6853091.6, 7995266.2]          6
(7995266.2, 9137440.8]          0
(9137440.8, 10279615.4]         1
(10279615.4, 11421790.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
(-48060.236999999994, 4907023.6]    77156
(4907023.6, 9813047.2]                184
(9813047.2, 14719070.8]                26
(14719070.8, 19625094.4]                8
(19625094.4, 24531118.0]                4
(24531118.0, 29437141.6]                1
(29437141.6, 34343165.2]                0
(34343165.2, 39249188.8]                0
(39249188.8, 44155212.4]                0
(44155212.4, 49061236.0]                1
Name: taxvaluedollarcnt, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      77381
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
(-48791.03799999999, 4895364.7]    77270
(4895364.7, 9790568.4]                88
(9790568.4, 14685772.1]               14
(14685772.1, 19580975.8]               5
(19580975.8, 24476179.5]               1
(24476179.5, 29371383.2]               0
(29371383.2, 34266586.9]               0
(34266586.9, 39161790.6]               0
(39161790.6, 44056994.3]               0
(44056994.3, 48952198.0]               1
Name: landtaxvaluedollarcnt, dtype: int64
(-566.6999999999999, 58681.858]    77163
(58681.858, 117343.796]              177
(117343.796, 176005.734]              22
(176005.734, 234667.672]               9
(234667.672, 293329.61]                4
(293329.61, 351991.548]                0
(351991.548, 410653.486]               0
(410653.486, 469315.424]               0
(469315.424, 527977.362]               0
(527977.362, 586639.3]                 1
Name: taxamount, dtype: int64
Y    2886
Name: taxdelinquencyflag, dtype: int64
(2.903, 12.6]     351
(12.6, 22.2]     2534
(22.2, 31.8]        0
(31.8, 41.4]        0
(41.4, 51.0]        0
(51.0, 60.6]        0
(60.6, 70.2]        0
(70.2, 79.8]        0
(79.8, 89.4]        0
(89.4, 99.0]        1
Name: taxdelinquencyyear, dtype: int64
(59948352007016.984, 102636920499301.5]    77136
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64
(-77.614, 7761.3]     7714
(7761.3, 15522.6]     7716
(15522.6, 23283.9]    7725
(23283.9, 31045.2]    7734
(31045.2, 38806.5]    7739
(38806.5, 46567.8]    7743
(46567.8, 54329.1]    7750
(54329.1, 62090.4]    7750
(62090.4, 69851.7]    7752
(69851.7, 77613.0]    7758
Name: id.1, dtype: int64
(-4.666, -3.664]        3
(-3.664, -2.672]        1
(-2.672, -1.68]        36
(-1.68, -0.688]       142
(-0.688, 0.304]     75340
(0.304, 1.296]       1684
(1.296, 2.287]        102
(2.287, 3.279]         71
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
2017-06-30    1189
2017-04-28     911
2017-05-31     867
2017-07-28     814
2017-08-31     781
              ...
2017-08-06       1
2018-05-25       1
2017-04-08       1
2017-05-20       1
2017-03-12       1
Name: transactiondate, Length: 265, dtype: int64
Single Family Residential                     52320
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64
Central          23133
Yes               1574
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64
Contemporary     172
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3
Name: architecturalstyledesc, dtype: int64
Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64
Central       33550
Floor/Wall    14065
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64
Basement    50
Name: storydesc, dtype: int64
Frame       219
Concrete      1
Masonry       1
Metal         1
Name: typeconstructiondesc, dtype: int64
----------------------------------------------------
Nulls in DataFrame by Column:
                          num_rows_missing  percent_rows_missing
typeconstructiontypeid               77159             99.713108
storytypeid                          77331             99.935385
heatingorsystemtypeid                27941             36.108347
buildingclasstypeid                  77366             99.980615
architecturalstyletypeid             77175             99.733785
...                                    ...                   ...
architecturalstyledesc               77175             99.733785
buildingclassdesc                    77366             99.980615
heatingorsystemdesc                  27941             36.108347
storydesc                            77331             99.935385
typeconstructiondesc                 77159             99.713108

[69 rows x 2 columns]
----------------------------------------------------
Nulls in DataFrame by Rows:

   num_cols_missing percent_cols_missing  num_rows
0                23    33.33333333333333         2
1                24    34.78260869565217        13
2                25   36.231884057971016        24
3                26    37.68115942028986        65
4                27   39.130434782608695       316
5                28    40.57971014492754       455
6                29   42.028985507246375      5270
7                30    43.47826086956522      3455
8                31   44.927536231884055      9891
9                32     46.3768115942029     12579
10               33    47.82608695652174     14782
11               34   49.275362318840585     13327
12               35    50.72463768115942      5148
13               36    52.17391304347826      5775
14               37    53.62318840579711      3620
15               38   55.072463768115945      1925
16               39    56.52173913043478       285
17               40   57.971014492753625       230
18               41    59.42028985507246        29
19               42    60.86956521739131        23
20               43    62.31884057971014        28
21               44    63.76811594202898        78
22               45    65.21739130434783        50
23               46    66.66666666666666         5
24               47    68.11594202898551         3
25               48    69.56521739130434         3
----------------------------------------------------

In [14]:
df1.dtypes

typeconstructiontypeid      float64
storytypeid                 float64
heatingorsystemtypeid       float64
buildingclasstypeid         float64
architecturalstyletypeid    float64
                             ...
architecturalstyledesc       object
buildingclassdesc            object
heatingorsystemdesc          object
storydesc                    object
typeconstructiondesc         object
Length: 69, dtype: object